{% extends '::base.html.twig' %}

{% block body -%}
    <h1>procedencia list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechallegada</th>
                <th>Numeroseriefabricante</th>
                <th>Numeroseriewarriors</th>
                <th>Fechasalida</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('procedencia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaLlegada %}{{ entity.fechaLlegada|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.numeroSerieFabricante }}</td>
                <td>{{ entity.numeroSerieWarriors }}</td>
                <td>{% if entity.fechaSalida %}{{ entity.fechaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('procedencia_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('procedencia_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('procedencia_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
